@charset "UTF-8";

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
/* css에서 외부파일 연결 - 눈누에서 웹폰트 코드 복사해서 넣기*/


body {
  font-family: 'Pretendard-Light', 'Malgun Gothic', '맑은고딕', sans-serif; 
  /* 폰트 설정한게 적용 안된다? 순차적으로 넘어가도록 설정 */
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

button {
  cursor: pointer;
  background: transparent; /* 버튼 배경 없애주기 */
}

.img {
  width: 100%;
}

.icon_hiko {
  display: block;
  background: url('../img/icons.png') no-repeat 0 0 / 700px 1000px;
  font-size: 1px; /* text-indent: -999px; */
  color: transparent;
  line-height: 1; /* 드래그하면 글자보임 */
}

#container{
  max-width: 640px;
  min-width: 320px; 
  margin: auto;        /* 반응형 모바일 페이지 설정 */
}

    /* ~ 640px */
    @media (max-width:640px){

    }

    /* 320px ~ */
    @media (min-width:320px){

    }
  

header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  max-width: 640px;
  min-width: 320px; 
  margin: auto;  /* 고정된 헤더 */
  background: #fff;
  z-index: 100;
}

h1{}

h1 a {
  display: block;
  width: 70px;
  height: 35px;
  margin: 10px auto;
}

.top_left, .top_right{
  position: absolute;
  top: 6px;
}
.top_left{
  left: 10px;
}
.top_right{
  right: 10px;
}

header button {
  padding: 5px; 
  /* 실제 버튼크기보다 마우스가 반응하는 영역을 넓히기 위해*/
}
.ico_gnb, .ico_lang, .ico_search {
  width: 26px;
  height: 26px;
}

.ico_search{
  background:url('../img/serch.png') no-repeat center center / 24px 24px;
  display: block;
  font-size: 1px; 
  color: transparent;
  line-height: 1;
}

.ico_gnb {
  background-position: -520px -60px;
}
.ico_lang {
  background:url('../img/earth.png') center center / 26px 26px;
  display: block;
  font-size: 1px; 
  color: transparent;
  line-height: 1;
}


#main_wrap{
  height: 2000px;
  /* background: linear-gradient(transparent,#3162eb, #fff); */
  padding-top: 96px;
}

.main_hikorea {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 640px;
  min-width: 320px; 
  margin: auto;
}
.main_img{
  display: inline-block;
  width: 100%;
  height: 400px;
  background: url('../img/people_tablet.png') no-repeat top right/ 399px 389px;
  opacity: 50%;
}
.main_info{
  position: absolute;
  bottom: 230px;
  padding: 0 20px;
}
.main_info h2{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  color: #FF0000;
}
.main_info h2 strong {
  color: #102F52;
  font-weight: 500;
}

.main_info span{
  font-size: 14px;
}

.main_btns{
  position: absolute;
  bottom: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

}
.main_btns button{
  background: #102F52;
  padding: 6px 25px;
  margin: 2px 0;
  color: #fff;
  font-size: 15px;
  border-radius: 10px 0 0 10px;
}
.main_btns button:hover {
  background: #FF0000;
}

#myCurrent {
  width: 100%;
  height: 400px;
  margin-top: -20px;
}
.myCurrent_border {
  background: #102F52;
  height: 300px;
  margin: 40px 15px;
  padding: 0 10px;
  border-radius: 60px 0 0 60px;
  display: flex;
  justify-content: space-around;
}
.profile {
  position: relative;
  width: 150px;
  transform: translateX(50px);
}

.profile img{
  width: 130px;
  height: 130px;
  object-fit: center;
  border-radius: 999px;
  text-align: center;
  position: absolute;
  top:50px;
  left: 10px;
  opacity: 80%;
}
.profile a{
  font-size: 17px;
  color: #fff;
  display: block;
  text-align: center;
  transform: translateY(195px);
}
.profile a:hover{
  text-decoration: underline;
}

.profile_btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
}

.profile_btns button {
  flex: 1;
  background: #f5f2f2;
  width: 200px;
  margin: 5px 0;
  font-size: 15px;
  border-radius: 8px 0 0 8px;
}

.profile_btns button:hover {
  text-decoration: underline;
  color: #102F52;
}

.menu_wrap {
  /* border: 1px solid rebeccapurple; */
  padding: 0 20px;
  margin-top: -60px;
}
.menu_wrap h2, .etc_menu h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.often_menu_boundery {
  background: #f1f1f1;
  border-radius:50px;
  display: flex;
  /* padding: 10px; */
}
.often_menu_boundery p {
  font-weight: 600;
  color: #102F52;

}
.often_menu_boundery button, .etc_menu_boundery button{
  display: inline-block;
  flex: 1;
  padding: 10px 0;
  font-size: 13px;
}
.often_menu_boundery img, .etc_menu_boundery img {
  width: 40px; 
  height: 40px;
  margin-bottom: 5px;
}
.etc_menu_boundery p {
  vertical-align: middle;
  font-weight: 600;
  color: #102F52;

}
.etc_menu {
  margin-top: 40px;
}

.etc_menu_boundery{
  background: #dadada;
  border-radius:50px;
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

.often_menu_boundery button:hover {
  border: 3px dashed #FF0000;
  margin: -3px;
}
.often_menu_boundery .button_border1:hover {
  border: 3px dashed #FF0000;
  border-radius: 50px 0 0 50px;
  margin: -3px;

}
.often_menu_boundery .button_border2:hover {
  border: 3px dashed #FF0000;
  border-radius: 0 50px 50px 0;
  margin: -3px;

}
.etc_menu_boundery button:hover{
  border: 3px dashed #102F52;
  margin: -3px;

}
.etc_menu_boundery .button_border3:hover {
  border: 3px dashed #102F52;
  border-radius: 50px 0 0 50px;
  margin: -3px;

}
.etc_menu_boundery .button_border4:hover {
  border: 3px dashed #102F52;
  border-radius: 0 50px 50px 0;
  margin: -3px;

}




#announcement{
  padding: 0 20px;
  margin-top: 60px;
}

.announce_position {
  position: relative;
}
.announce {
  position: absolute;
}

.announce .announce_btn{
  background: #102F52;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 1px;
  border-radius: 10px 10px 0 0;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.announce_btn.btn2 {
  transform: translateX(110px);
}
.announce_btn.btn3 {
  transform: translateX(220px);
}

.tap .plus_btn{
  background: none;
  color: #111;
  float: right;
  transform: translate(-25px,4px);
}

.announce_btn ~ ul {
  padding: 20px 0;
  font-size: 16px;
  border: 1px solid #dadada;
  height: 180px;
  border-left: none;
  border-right: none;
}
.btn2_text, .btn3_text {
  display: none;
}

.announce_btn ~ ul li {
  margin: 8px 0;
  padding: 0 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.announce_btn ~ ul li a{
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announce_btn ~ ul li a:hover {
  text-decoration: underline;
  color: #FF0000;
}
.announce_btn ~ ul li span {
  float: right;
  font-size: 13px;
  letter-spacing: 0;
  color: gray;
}

#quick_btn{
  margin-top: 330px;
  padding: 0 20px;
  text-align: center;
}
#quick_btn button {
  color: #102F52;
  font-weight: 700;
  font-size: 28px;
  border-radius: 20px;
  margin: 0 10px;
}
#quick_btn img {
  width: 200px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
  opacity: 75%;
}



#banner {
  margin: 40px auto;
}
.banner_border1{
  display: block;
  background: #FF0000;
  height: 4px;
  border-radius: 8px 8px 0 0;
  width: 80%;
  margin: auto;
}
.banner_top {
  display: flex;
  justify-content: center;
  background: #fffffe;
  margin-left: 30px;
}

.banner_text {
  padding: 40px 0;
}
.banner_text p{
  font-size: 25px;
  color: #102F52;
}
.banner_text .t_1 {
  font-weight: 600;
}
.banner_text .t_2 {
  font-weight: 800;
  color: #FF0000;
  margin-bottom: 10px;
}

.banner_text span{
  font-size: 14px;
  margin-left: 22px;
  font-weight: 500;
  color: #102F52;
}
.banner_text .t_3, .banner_text .t_4  {
  font-size: 14px;
  color: #111;
  font-weight: 500;
}

.banner_top img{
  width: 282px;
  height: 188px;
  float: right;
  margin-top: 20px;

}

.banner_border2{
  display: block;
  margin-top: 2px;
  background:  #102F52;
  height: 4px;
  border-radius: 0 0 8px 8px;
  width: 80%;
  margin: auto;
}

footer{
  color: #fff;
}

.footer_boundery{
  width: 100%;
  height: 130px;
  background: #102F52;
  padding: 10px 0;
}

.footer_1{
  display: flex;
  text-align: center;
}
.footer_1 a {
  flex: 1;
  padding: 10px 0;
}
.footer_1 a:hover {
  text-decoration: underline;
}

.footer_sns {
  float: right;
  margin-right: 45px;
  margin-top: 5px;
}
.footer_sns a {
  height: 100%;
}
.footer_sns img {
  width: 40px;
  height: 40px;
  margin: 10px 5px;
}

.footer_num {
  margin: 5px 0;
  display: inline-block;
  float: left;
  margin-left: 32px;

}
.footer_num .copy {
  color: #b2b2b2;
  font-size: 13px;
}


.topbtn{
  position: fixed;
  bottom:140px;
  right: 30px;
  z-index: 120;
  margin: 0 auto;
}
.topbtn img{
  width: 50px;
}

















